.env*
.venv 
.vscode
/screenshots/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg
*.egg-info/
dist/
build/
*.egg-info
*.whl
*.DS_Store
*.coverage
*.mypy_cache/
*.pytest_cache/
*.tox/
*.ipynb_checkpoints/
*.idea/
*.swp
*.swo
*.bak
*.tmp
*.orig
*.out
*.pid
*.seed
*.coverage.*